{% extends 'base.html.twig' %}

{% block body %}
    <div class="introduce_block">
        <h2>Présentation</h2>
        <p class="flow-text">
            <img src="{{ asset('http://image.noelshack.com/fichiers/2017/25/2/1497971220-wild-goose-2260866-1920.jpg') }}" alt="" class="introduce_img">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque cupiditate debitis,
            delectus dignissimos dolor ea error fugiat id molestiae nihil provident quae sit suscipit vero.
            Autem consectetur praesentium sunt!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque cupiditate debitis,
            delectus dignissimos dolor ea error fugiat id molestiae nihil provident quae sit suscipit vero.
            Autem consectetur praesentium sunt!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque cupiditate debitis,
            delectus dignissimos dolor ea error fugiat id molestiae nihil provident quae sit suscipit vero.
            Autem consectetur praesentium sunt!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque cupiditate debitis,
            delectus dignissimos dolor ea error fugiat id molestiae nihil provident quae sit suscipit vero.
            Autem consectetur praesentium sunt!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque cupiditate debitis,
            delectus dignissimos dolor ea error fugiat id molestiae nihil provident quae sit suscipit vero.
            Autem consectetur praesentium sunt!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque cupiditate debitis,
            delectus dignissimos dolor ea error fugiat id molestiae nihil provident quae sit suscipit vero.
            Autem consectetur praesentium sunt!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque cupiditate debitis,
            delectus dignissimos dolor ea error fugiat id molestiae nihil provident quae sit suscipit vero.
            Autem consectetur praesentium sunt!
        </p>
    </div>
{% endblock %}

